<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3">
  <a class="navbar-brand neon-text" [routerLink]="'/'">FiguriBET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
    <!-- Menú principal -->
    <ul class="navbar-nav">

  <!-- Mostrar solo si está logeado -->
  <li class="nav-item" *ngIf="isLoggedIn">
    <a class="nav-link neon-hover" [routerLink]="'/mis-sesiones'">Mis sesiones</a>
  </li>
  <li *ngIf="isLoggedIn">  
   <a class="nav-link neon-hover"  [routerLink]="'/ranking'">Ranking</a>
  </li>
</ul>


    <!-- Admin a la derecha si es ADMIN -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="userRole === 'ADMIN'">
        <a class="nav-link neon-hover" [routerLink]="'/main'">Admin</a>
      </li>
    </ul>

    <!-- Botones de login/logout -->
    <div class="d-flex align-items-center ms-3">
      <div *ngIf="isLoggedIn; else authButtons">
        <button class="btn btn-outline-neon" (click)="logout()">Logout</button>
      </div>
      <ng-template #authButtons>
        <a class="btn btn-neon mx-2" [routerLink]="'/login'">Login</a>
        <a class="btn btn-neon" [routerLink]="'/register'">Register</a>
      </ng-template>
    </div>
  </div>
</nav>