


<div>
  <label>Dificultad: </label>
  <select [(ngModel)]="dificultad">
    <option value="facil">Fácil</option>
    <option value="medio">Medio</option>
    <option value="dificil">Difícil</option>
  </select>
</div>
<div class="penaltis-container">
<div class="game-container">
    <h2 class="puntos">{{ puntos }} ptos</h2>
    <h1>Penalty Shoot-out</h1>
    
    <p>Haz clic en una zona de la portería para patear:</p>
    
    <div class="goal">
        <div class="goalkeeper" #goalkeeper></div>
        <div class="ball1" #ball></div>

        <div class="target" style="top: 78px; left: 110px;" (click)="tirarPenalti('izquierda-alta')"></div>
        <div class="target" style="top: 78px; left: 50%; transform: translateX(-50%);" (click)="tirarPenalti('centro-alta')"></div>
        <div class="target" style="top: 78px; right: 110px;" (click)="tirarPenalti('derecha-alta')"></div>
        <div class="target" style="bottom: 64px; left: 110px;" (click)="tirarPenalti('izquierda-baja')"></div>
        <div class="target" style="bottom: 64px; right: 110px;" (click)="tirarPenalti('derecha-baja')"></div>
    </div>
<br>
<div>
    <label>Apuesta puntos</label>
    <div class="apuesta-container">
      <button (click)="ajustarApuesta(-1)">-</button>
      <input type="text" [value]="apuesta" readonly />
      <button (click)="ajustarApuesta(1)">+</button>
    </div>
  </div>
</div>
</div>

 <!-- Botón de regresar -->
 <a class="close-button btn btn-danger shadow-lg" [routerLink]="'/juegos'" title="Regresar a Juegos">
  <i class="bi bi-x-lg">Regresar</i>
</a>



  