<!-- Contenedor principal del formulario de inicio de sesión -->
<div class="login-container">

  <!-- Formulario de inicio de sesión con evento (submit) que llama al método login() -->
  <form (submit)="login()" class="login-form neon-card">

    <!-- Título del formulario -->
    <h2 class="neon-text">Iniciar Sesión</h2>
    <hr class="neon-hr"> <!-- Línea decorativa con efecto neón -->

    <!-- Campo de entrada para el correo electrónico -->
    <div class="input-group">
      <input type="email" [(ngModel)]="email" name="email" placeholder="📧Correo electrónico" required class="input-neon" />
    </div>

    <!-- Campo de entrada para la contraseña -->
    <div class="input-group">
      <input type="password" [(ngModel)]="password" name="password" placeholder="🔒 Contraseña" required class="input-neon" />
    </div>

    <!-- Botón de envío del formulario -->
    <button type="submit" class="btn-neon">Iniciar sesión</button>

  </form>

</div>
