<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary text-light">Mis Sesiones</h2>
  <p class="text-center"><strong>Beneficio:</strong> <span class="puntos"> {{ totalPoints }} </span></p>

  <table class="table table-striped table-bordered shadow-lg">
    <thead class="thead-dark">
      <tr>
        <th>Fecha</th>
        <th>Juego</th>
        <th>Puntos Ganados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of paginatedSessions">
        <td>{{ session.fecha_sesion }}</td>
        <td>{{ session.gameName }}</td>
        <td>{{ session.puntos_ganados }}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-4">
    <button class="btn btn-success" (click)="descargarPDF()">Descargar PDF</button>
  </div>


  <div class="pagination-controls text-center">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-primary">Anterior</button>
    <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-primary">Siguiente</button>
  </div>
</div>