tr{
  color: white;
}

h2{
  color: white;
}
.puntos {
  color: #ffcc00;
}

/* Estilo para los botones de paginación */
.pagination-controls button {
  background-color: #111; /* Fondo oscuro */
  color: #ffcc00; /* Color de texto verde neón */
  border: 2px solid #ffcc00; /* Borde verde neón */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out; /* Transición suave */
}

/* Efecto neón */
.pagination-controls button:hover {
  background-color: #ffcc00; /* Fondo verde neón en hover */
  color: #111; /* Cambiar el texto a negro cuando el hover esté activo */
  box-shadow: 0 0 15px #ffcc00, 0 0 30px #ffcc00, 0 0 45px #ffcc00; /* Efecto de resplandor */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón */
}

/* Deshabilitar los botones con un color más tenue */
.pagination-controls button:disabled {
  background-color: #444; /* Fondo gris oscuro */
  color: #888; /* Texto gris tenue */
  border: 2px solid #888; /* Borde gris tenue */
  box-shadow: none; /* Sin resplandor */
  cursor: not-allowed; /* Cambiar cursor */
}

/* Estilo del contenedor de la paginación */
.pagination-controls {
  margin-top: 20px;
}
